.card {
  background-color: var(--bg-card);
  color: var(--text-card-foreground);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--border);
}

.cardContent {
  padding-inline: 1.5rem;
}

.cardContent:last-child {
  padding-bottom: 1.5rem;
}
